@import '../../assets/styles/mixins';

.todo-list {
  margin-top: 40px;
  padding: 0 400px;

  .body {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__heading {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
  }

  &__todos {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border: 16px solid #ecedf6;
    padding: 15px 20px;
    border-radius: 6px;
    background: #fcfdfd;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  &__not-found {
    color: gray;
    text-align: center;
    font-weight: 700;
  }

  &__pagination {
    padding: 20px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }

  .pagination-item {
    flex-shrink: 0;
    padding: 10px;
    border-radius: 3px;
    background: black;
    cursor: pointer;

    &__number {
      color: #fff;
      font-weight: 700;

      &--active {
        color: blue;
      }
    }
  }

  .pagination-item:hover {
    background: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  }
}

@include largeDeviceSize {
  .todo-list {
    padding: 0 48px;
  }
}

@include smallDeviceSize {
  .todo-list {
    padding: 0;

    &__heading {
      font-size: 2.5rem;
      font-weight: 700;
    }

    &__todos {
      border-width: 10px;
      padding: 10px;
    }
  }
}
