.header {
  background: #202020;
  padding: 15px 0;

  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .brand {
    font-size: 1rem;

    &__links {
      display: flex;
      column-gap: 15px;
      align-items: center;
    }

    &__logo {
      width: 5em;
      height: 5em;
    }

    &__name {
      font-size: 2.5em;
      font-weight: 600;
      color: #fff;
    }
  }

  .navbar {
    &__list {
      display: flex;
      column-gap: 10px;
    }

    &-item__link {
      font-size: 1.8rem;
      font-weight: 600;
      color: #fff;
    }

    &-item__link:hover {
      color: #87ceeb;
      transition: 0.5s;
    }
  }

  .menu-icon {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar {
    display: none;
  }

  .menu-icon {
    display: inline-block !important;
    color: #fff;
    font-size: 3.5rem;
  }
}
