.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  background: #202020;

  .body {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
  }

  .social-list {
    display: flex;
    column-gap: 10px;

    .social-item:nth-child(1) {
      .social-item__icon {
        width: 35px;
        height: 35px;
        color: #333;
      }
    }

    .social-item:nth-child(2) {
      .social-item__icon {
        width: 35px;
        height: 35px;
        color: #0288d1;
      }
    }

    .social-item:nth-child(3) {
      .social-item__icon {
        width: 35px;
        height: 35px;
        color: #4267b2;
      }
    }

    .social-item:hover {
      box-shadow: 0 0 3px 3px #87ceeb;
    }

    .social-item:hover:not(:nth-child(2)) {
      border-radius: 50%;
    }
  }

  .coppyright {
    color: #fff;
    font-weight: 600;
  }
}
